@model Library1.Models.Story


<div class="container">
    <div class="row main-wrapper">
        <div class="col-md-12">

                <div class="row home-list-item">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <a class="panel-title">@Model.title</a>
                        </div>
                        <div class="panel-body">
                            <p>@Model.body</p>
                            <p>

                            </p>
                            
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>