@model IEnumerable<Library1.Models.Story>

    <div  class="container" ng-controller='MainController'>
        <div class="row main-wrapper" data-ng-repeat="story in stories">
            <div class="col-md-12">

                    <div class="row home-list-item">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a ng-href="/view/{{story.id}}" class="panel-title">{{story.title}}</a>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-link" data-ng-click="deleteStory($index)">Delete</button>
                                        

                                    </div>


                                </div>
                            </div>
                            <div class="panel-body">
                                <p ng-bind-html="story.body">{{story.body}}</p>
                                <p>

                                </p>
                                <a href="~/Story/edit/{{story.id}}" class="btn btn-default">Edit</a>
                            </div>

                        </div>
                    </div>

            </div>
        </div>
    </div>
